/* body{

} */
/* navbar */
.navbar{
    box-shadow: 10px 0px 15px grey;
    z-index: 1;
}
.nav-center{
    margin: auto auto;
}
.fa-times{
    color: black;
    /* background-color: black; */
}
.nav-item{
    font-weight: bold;
    letter-spacing: .10rem;
    font-size: 15px;
}
.carousel{
    box-shadow: 0px 5px 10px grey;
    z-index: 1;
} 
.carousel-item{
    max-height: vh;
}

/* introduction beneath carosel */
.greet{
    margin: 35px auto;
    text-align: center;
    
}
.greeting{
    
    font-weight: bold;
    text-shadow: 2px 5px 5px grey;
}
.greet-text{
    width: 50%;
    margin: 10px auto;
    text-align: justify;
}
.info{
    margin: auto 10px !important;
}

/* 2 cloumn beneath introduction ... image and text */
.colone{
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coltwo{
    background-color: cadetblue;

}
